@layer components {
  .ds-bg-deep-space-blue {
    background: #01102e;
  }
  /* .ds-color-primary {
    color: var(--primary);
  }
  .ds-bg-primary-gradient {
    background: var(--primary-gradient);
  }
  .ds-bg-primary-gradient-hover:hover {
    background: var(--primary-gradient);
  }
  .ds-bg-primary-light {
    background: hsl(18deg, 100%, 95%);
  }
  .ds-color-secondary {
    color: var(--secondary);
  }
  .ds-bg-secondary-gradient {
    background: var(--secondary-gradient);
  }
  .ds-bg-secondary-gradient-hover:hover {
    background: var(--secondary-gradient);
  }
  .ds-bg-secondary-light {
    background: hsl(202deg, 44%, 95%);
  } */
}
